<!-- Header -->
<div class="z-1">
  <header class="position-relative">
    <div class="px-3 py-2">
      <div class="container">
        <nav class="navbar navbar-expand-lg position-relative">
          <div class="container-fluid">
            <a
              href="/"
              class="navbar-brand d-flex align-items-center text-white"
            >
              <img
                src="{{ url_for('static', filename='img/fedora-dave-tooned.jpeg' )}}"
                alt="cartoon Dave in Fedora"
                class="rounded-circle"
                style="height: 60px; width: 60px; object-fit: cover"
              />
              <h1 class="ms-3 mb-0 fs-4">Under Construction</h1>
            </a>

            <!-- Toggler -->
            <button
              class="navbar-toggler text-white"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="bi bi-list" style="font-size: 2rem; color: white"></i>
            </button>

            <!-- Collapsible Nav Links -->
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navbarNav"
            >
              <ul class="navbar-nav text-small">
                <li class="nav-item">
                  <a
                    class="nav-link text-white px-3"
                    href="{{ url_for('home') }}"
                  >
                    <i
                      class="bi bi-house"
                      style="font-size: 24px"
                      width="24"
                      height="24"
                      aria-hidden="true"
                    >
                    </i>
                    Home
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-white px-3"
                    href="{{ url_for('blog_posts') }}"
                  >
                    <i class="bi bi-book" style="font-size: 24px"> </i>
                    Blog
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white px-3" href="#">
                    <i class="bi bi-flask" style="font-size: 24px"> </i>
                    Sandbox
                  </a>
                </li>
                {% if current_user.admin == 1 %}
                <li class="nav-item">
                  <a class="nav-link text-white px-3" href="#">
                    <i class="bi bi-robot" style="font-size: 24px"> </i>
                    Admin Panel
                  </a>
                </li>
                {% endif %} {% if not current_user.is_authenticated %}
                <li class="nav-item">
                  <a
                    class="nav-link text-white px-3"
                    href="{{ url_for('login') }}"
                  >
                    <i class="bi bi-rocket" style="font-size: 24px"> </i>
                    Login/Register
                  </a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a
                    class="nav-link text-white px-3"
                    href="{{ url_for('logout') }}"
                  >
                    <i class="bi bi-heartbreak" style="font-size: 24px"> </i>
                    Logout
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
</div>
