{% extends 'base.html' %} {% block content %}

<section class="position-relative">
  <!-- Hero -->
  <div class="container col-xxl-8 px-4 pt-1 pb-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold text-light lh-1 mb-3">
          Thanks for stopping by.
        </h1>
        <h2 class="fw-bold text-light lh-1 mb-3 text-start">
          Bits and pieces coming together. Stay tuned.
        </h2>
        <p class="lead text-light">
          For the time being, this site is my digital sandbox — a place to
          experiment, learn, and maybe share a few things that have made my life
          more interesting.
        </p>
        <p class="lead text-light">
          There’s no grand plan — just some projects, ideas, and bits of stuff
          I’ve tossed together along the way. Stick around, poke around, and
          maybe even find something useful (or at least amusing).
        </p>
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
                  Primary
                </button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">
                  Default
                </button>
              </div> -->
      </div>
      <div class="col-12 col-lg-6 text-center text-lg-start">
        <img
          src="{{ url_for('static', filename='img/patio-dave-cropped-removebg-preview.png') }}"
          class="d-block mx-auto img-fluid rounded-circle"
          alt="Dave in ball cap"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>

<!-- Placeholder -->
<section class="section-bg position-relative">
  <div class="container marketing">
    <!-- START THE FEATURETTES -->
    <!-- <hr class="featurette-divider" /> -->
    <div class="row featurette mb-5 pt-5">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 text-start">
          I am a software developer.
          <span class="text-info">For work and play.</span>
        </h2>
        <p class="lead">
          Professionally my focus is currently Big Data, ETL and the
          construction of data pipelines. Primarily this involves Python, Spark,
          Hadoop, Hive, SQL/HQL and some shell scripting. The team is beginnging
          to branch into agentic AI, currently dabbling in Google ADK.
        </p>
        <p>
          My personal pursuits do have some overlap with this. I am always
          trying to broaden my core foundations with Python and other languages.
          Lately, that has led me to experiment with Flask, the framework with
          which this site is being built. And like everyone else these days I
          have been captivated by the possibilities of AI. This has lead to some
          exploration of Google ADK, CrewAI and LangChain.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="{{ url_for('static', filename='img/pexels-kevin-ku-92347-577585.webp') }}"
          alt="dev screen and glasses"
          class="img-fluid"
        />
      </div>
    </div>
    <hr class="featurette-divider" />
    <div class="row featurette my-5">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          I am a gaming dork!
          <span class="text-info">From waaayyy back.</span>
        </h2>
        <p class="lead">
          Long ago, I stumbled into a basement game of Advanced Dungeons &
          Dragons at a friend's house — and it changed my life.
        </p>
        <p>
          Since then, I've played all manner of tabletop and digital
          role-playing games, along with a growing library of fantasy and sci-fi
          board games. There's something magical about collaborative
          storytelling and rolling dice with friends that never gets old.
        </p>
        <p>
          But nothing makes me feel more at home than a game convention. The
          energy, the creativity, the sense of community — it's my happy place.
          Whether it's demoing new games, diving into marathon sessions, or just
          nerding out with fellow fans, I always come away inspired and
          recharged.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="{{ url_for('static', filename='img/unpainted-minis.webp') }}"
          alt="unpainted gaming miniatures"
          class="img-fluid"
        />
      </div>
    </div>
    <hr class="featurette-divider" />
    <div class="row featurette my-5">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          I love dogs!
          <span class="text-info">And all animals.</span>
        </h2>
        <p class="lead">
          That is my beloved — and dearly departed — hound dog, Elvis.
        </p>
        <p>
          Our dogs have opened my eyes and my heart to animals of all kinds.
          What started as a simple companionship grew into a deep and lasting
          love that now feels like a defining part of who I am.
        </p>
        <p>
          Elvis, in particular, taught me patience, empathy, and the quiet
          strength of unconditional love. That bond changed me for the better,
          and it continues to shape how I see the world.
        </p>
        <p>Thanks, Houndy ❤️</p>
      </div>
      <div class="col-md-5">
        <img
          src="{{ url_for('static', filename='img/houndizzle.webp') }}"
          alt="my old hound dog"
          class="img-fluid"
        />
      </div>
      <hr class="featurette-divider" />
      <div class="row featurette my-5">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">
            I’m a drone enthusiast —
            <span class="text-info">from time to time.</span>
          </h2>
          <p class="lead">
            Specifically, I’m into FPV drones. The sensation of flying freely
            through the air is hard to put into words.
          </p>
          <p>
            For several years, I flew freestyle regularly with a close friend
            and even got to attend Rotor Riot Rampage in 2023 — an epic
            multi-day FPV event.
          </p>
          <p>
            I never got especially good at it, to be honest. And while crashing
            is just part of the freestyle experience, the constant repair cycle
            started wearing me down. Still, I know I’ll come back to it — when
            it's fun, it's an absolute blast.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img
            src="{{ url_for('static', filename='img/my-drones.webp') }}"
            alt="my drones hanging on the wall"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <!-- <hr class="featurette-divider" /> -->
    <!-- /END THE FEATURETTES -->
  </div>

  <!-- Contact -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-5">
        <h3>Want to contact me?</h3>
        <form>
          <div class="mb-2">
            <label for="name" class="form-label mb-1">Your Name</label>
            <input
              type="text"
              class="form-control form-control-s py-1 px-2"
              id="name"
              placeholder="Jane Doe"
            />
          </div>
          <div class="mb-2">
            <label for="email" class="form-label mb-1">Your Email</label>
            <input
              type="email"
              class="form-control form-control-s py-1 px-2"
              id="email"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-2">
            <label for="message" class="form-label mb-1">Message</label>
            <textarea
              class="form-control form-control-s py-1 px-2"
              id="message"
              rows="3"
              placeholder="Write your message here...try to be nice"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-dark btn-sm">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
